
$background-color: linear-gradient(
  to bottom right,
  rgb(0, 84, 227),
  rgb(231, 231, 231) 10%,
  rgb(230, 221, 233) 90%,
  rgb(0, 84, 227)
);
$primary-color: rgb(0, 84, 227);
$primary-stroke: #738e42;
$border-color: rgb(0, 71, 203);
$text-color: black;
$headline-color: rgb(133, 219, 50);
$box-schadow: 0px 0px 15px 1px black;
$primary-btn-color: rgba(116, 153, 221);
$btn-textcolor: rgba(10, 36, 106);
$box-color: rgba(166, 165, 191, 0.452);
$bg-Img: url(./assets/chrisb_logo_hell.png);

$background-color-dark: linear-gradient(
  to bottom right,
  rgb(40, 42, 54),
  rgb(61, 59, 61) 25%,
  rgb(44, 43, 44) 70%,
  rgb(40, 42, 54)
);
$primary-color-dark: rgb(255, 121, 198);
$text-color-dark: white;
$headline-color-dark: transparent;
$box-schadow-dark: 0px 0px 15px 1px white;
$primary-btn-color-dark: rgb(255, 121, 198);
$box-color-dark: rgb(92, 73, 119);
$bg-Img-dark: url(./assets/chrisb_logo_dunkel.png);
$border-color-dark: rgba(80, 250, 123);
 