$background-color: linear-gradient(
  to bottom right,
  rgb(197, 0, 247),
  rgb(41, 0, 51) 25%,
  rgb(41, 0, 51) 70%,
  rgb(197, 0, 247)
);
$primary-color: rgb(197, 0, 247);
$text-color: white;
$headline-color: transparent;
$box-schadow: 0px 0px 15px 1px white;
